* {
    box-sizing: border-box;
    user-select: none;
}
body {
    margin: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 40px;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background: black;
}
@media (max-width: 630px) {
    .container {
        gap: 20px;
        flex-direction: column;
    }
    table td {
        width: 45px;
        height: 45px;
    }
}
.dialog {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}
.dialog.hide {
    display: none;
}
.dialog .box {
    display: flex;
    align-items: center;
    padding: 25px;
    font-size: 1.2em;
    text-transform: capitalize;
    position: absolute;
    width: 80%;
    height: 50vh;
    background-color: #ccc;
    color: black;
    border-radius: 6px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.dialog p {
    line-height: 1.5;
}
/* .board {
    width: 100%;
    flex: 1;
} */
.board::before {
    content: "score: " attr(data-score);
    color: white;
    position: absolute;
    right: 10px;
    top: 5px;
    text-transform: capitalize;
    z-index: 99;
}
table {
    /* table-layout: fixed;
    width: 100%;
    height: 100%; */
    border-color: #ffffff33;
    border-spacing: 0;
}
table td {
    height: 55px;
    width: 55px;
}
table .snake-head {
    position: relative;
    background-color: #8bc34a !important;
}
table .snake-head::before,
table .snake-head::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}
/* start */
#down .snake-head::before,
#down .snake-head::after {
    bottom: 10px;
}
#up .snake-head::before,
#up .snake-head::after {
    top: 10px;
}
/*  */
#down .snake-head::before,
#up .snake-head::before {
    left: 10px;
}
#down .snake-head::after,
#up .snake-head::after {
    right: 10px;
}
/*  */
#left .snake-head::before,
#left .snake-head::after {
    left: 10px;
}
#right .snake-head::before,
#right .snake-head::after {
    right: 10px;
}
/*  */
#left .snake-head::before,
#right .snake-head::before {
    top: 10px;
}
#left .snake-head::after,
#right .snake-head::after {
    bottom: 10px;
}
/* end */
table .food {
    position: relative;
}
table .food::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
}
.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}
.buttons .box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button {
    cursor: pointer;
}
.buttons > button {
    height: 25px;
    width: 30px;
}
.buttons .box button {
    width: 25px;
    height: 30px;
}
